body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #53b38e;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
}

.chart-container {
    position: relative;
    height: 40vh;
    width: 80vw;
    margin: auto;
    margin-top: 20px;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    width: auto;
    max-height: 80px;
}

/* Agregar reglas para el color del texto del gráfico */
#lineChart {
    color: #ffffff; /* Color del texto del gráfico */
}